<!-- Head -->
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="stylesheet" href="../../css/header.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/userProfileAlt.css">
        <title>User Profile</title>
    </head>

    <body>
        <%- include('../partials/header')%>
        <div class="profile">
        <img class="user-avatar" src="/images/users/<%= userProfile.image %>">
        <h2><%= userProfile.firstName %> <%= userProfile.lastName %></h2>
        <br>
        <label>Email: </label><%= userProfile.email %>
        </div>
        <%- include('../partials/footer')%>
    </body>
</html>
